[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.1.1
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/ERC4626"]
	path = lib/ERC4626
	url = https://github.com/fubuloubu/ERC4626
[submodule "contracts/Math/ABDKMath64x64/abdk-libraries-solidity"]
	path = contracts/Math/ABDKMath64x64/abdk-libraries-solidity
	url = git@github.com:abdk-consulting/abdk-libraries-solidity.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = v4.8.0
